$background-image: url('/pink.png');

.section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1vw 5vw 6vw 5vw;
  background-image: $background-image;
  background-repeat: no-repeat;
  background-size: cover;

  color: #fafafa;

  font: 400 4vw/4.4vw Inter, sans-serif;

  .container {
    display: flex;
    min-width: 240px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

    .contentWrapper {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      align-items: flex-start;
      padding-top: 3.4%;

      .description {
        position: relative;
        display: flex;
        color: #fff;
        margin-top: 1vw;

        font-weight: 200;
        font-style: normal;
        font-size: 2vw;
        text-align: justify;
        line-height: 1.6;
      }

      .title {
        font-size: 3.5vw;
        line-height: 7vw;
        margin-bottom: 2vw;
      }

      
    }
  }
}

@media (max-width: 640px) {
  .section .container .contentWrapper .description {
    font-size: 4vw;
  }
}
