.section {
  padding: 1vw 5vw;

  .title {
    font-size: 3.5vw;
    line-height: 7vw;
  }

  .description {
    position: relative;
    display: flex;
    color: #fff;
    margin-top: 1vw;
    font-weight: 200;
    font-size: clamp(0.75rem, 0.375rem + 1.875vw, 1.5rem);
    text-align: justify;
    line-height: 1.6;
  }

  .cardContainer {
    margin-top: 10vw;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 640px) {
  .section {
    margin-top: 3.2vw;
  }
}
