section {
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 4 columns by default */
  gap: 3vw;
  margin-top: 5vw;
  color: #fafafa;
  justify-content: space-around;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(4, 1fr); /* 3 columns for large screens */
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 640px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 4vw;
    justify-items: center;
    text-align: center;
    width: 100%;
  }
}
