.member-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2vw;
  border-radius: 2vw;
  overflow: hidden;
  border: 0.2vw solid #fafafa;
  font-weight: 300;
  background-color: rgb(39, 39, 39);
  gap: 1vw;
  text-align: left;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
      rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
      rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
      transform: translateY(-5px);
  }

  .member-image {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }

  .member-content {
    width: 100%;
    gap: 2vw;
    display: flex;
    flex-direction: column;

    .member-role {
      font-size: clamp(0.75rem, 0.625rem + 0.625vw, 1rem);
      color: #fafafa;
    }

    .member-name {
      font-size: clamp(0.65rem, 0.575rem + 0.375vw, 0.8rem);
      color: #fafafa;

      .member-title {
        color: #fafafa;
      }
    }
  }
}

@media (max-width: 1024px) {
  .member-card {
    .member-image {
      height: 19vw;
    }
  }
}

@media screen and (max-width: 768px) {
  .member-card {
    .member-image {
      height: 20vw;
    }
  }
}

@media (max-width: 640px) {
  .member-card {
    .member-image {
      height: 30vw;
    }

    .member-content {
      .member-name {
        margin-top: 4vw;
      }
    }
  }
}
