.company-list {
  width: 100%;
  display: flex;
  background-color: #000;
  margin-top: 5%;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 4vw;
  border: none;
  transform: scale(calc(100vw / 1280));

  .text-content {
    display: flex;
    flex-direction: column;
    z-index: 0;
    padding: 1.8vw 0 7.5vw;

    .title {
      color: #fff;
      align-self: flex-start;
      font: 400 3.515625vw/4.140625vw Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
    }

    .description {
      color: rgba(255, 255, 255, 0.65);
      margin-top: 1.09375vw;
      font: 400 1.171875vw/1.640625vw Inter, -apple-system, Roboto, Helvetica,
        sans-serif;
    }

    .stats-container {
      display: flex;
      margin-top: 5.15625vw;
      padding-bottom: 0.078125vw;
      flex-direction: column;
      justify-content: flex-start;

      .stat-item {
        display: flex;
        padding-right: 5.390625vw;
        align-items: flex-start;
        justify-content: flex-start;

        .icon-wrapper {
          display: flex;
          padding-bottom: 0.390625vw;
          align-items: flex-start;
          justify-content: flex-start;
          width: 3.125vw;

          .icon {
            aspect-ratio: 1;
            object-fit: contain;
            object-position: center;
            width: 3.125vw;
          }
        }

        .stat-value {
          color: #fff;
          letter-spacing: -0.01953125vw;
          font: 400 2.265625vw/1 Inter, sans-serif;
        }
      }
    }
  }

  .side-image {
    margin-left: auto;
    width: 27.734375vw;
  }
}

@media (max-width: 640px) {
  .company-list {
    flex-direction: column;
    width: 100%;
    margin-top: 5.5rem;

    .text-content {
      width: 100%;

      .title {
        font-size: 2.5rem;
        line-height: 1;
      }

      .description {
        font-size: 0.7rem;
        width: 60%;
        line-height: 1.2;
        margin-top: 2rem;
      }

      .stats-container {
        margin-top: 0.8rem;

        .stat-item {
          align-items: center;

          .stat-value {
            font-size: 1.5rem;
          }

          .icon-wrapper {
            width: 1.8rem;

            .icon {
              width: 1.8rem;
            }
          }
        }
      }
    }

    .side-image {
      width: 100%;
      filter: brightness(0.7);
    }
  }
}
