.reminders {
  margin-top: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;
  span {
    padding: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    border-radius: 50%;
  }
}

.notification {
  background-color: var(--color-white);
  border: 2px solid var(--boundary-color);

  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: none;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
}

.icon {
  padding: 0.6rem;
  color: var(--color-white);
  background-color: var(--color-success);
  border-radius: 20%;
  display: flex;
}

.notification.deactive .icon {
  background-color: var(--color-danger);
}

.notification.addReminder {
  background-color: var(--color-white);
  border: 2px dashed var(--color-primary);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: var(--color-primary);
    color: white;
  }

  div {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
}

@media screen and (max-width: 1200px) {
  .reminders {
    display: none;
  }
}
