.dark-mode2 {
   background-color: var(--color-light);
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 1.6rem;
   width: 4.2rem;
   cursor: pointer;
   border-radius: var(--border-radius-1);

   span {
      font-size: 1.2rem;
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.active {
         background-color: var(--color-primary);
         color: white;
         border-radius: var(--border-radius-1);
      }
   }
}
