.contentWrapper {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  padding: 1vh 0;
  border-bottom: 0.14vw solid rgb(218, 235, 250);
  cursor: grab;

  .scrollContainer {
    display: flex;
    justify-content: flex-start;
    transition: transform 0.5s ease;
  }

  .scrollItem {
    list-style: none;
    padding: 2vh 1vw;
    margin-right: 1vw;
    cursor: pointer;
    font-size: clamp(0.5rem, 0.35rem + 0.75vw, 0.8rem);
    font-weight: 300;
    white-space: nowrap;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: rgb(218, 235, 250);
    width: 9vw;
    text-align: center;

    &.active {
      font-weight: bold;
      color: rgb(255, 255, 255);
    }

    span {
      display: inline-block;
    }
  }

  .separator {
    width: 0.2vw;
    height: 7vh;
    color: white;
    margin: 0 1vw;
    position: relative;
    top: 50%;
    transform: translateY(-10%);
  }
}

@media (max-width: 480px) {
  .contentWrapper .scrollItem {
    font-size: 0.8rem;
  }
}
